/* navigation */

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 2rem;
  text-align: center;
  color: var(--light);
  text-transform: uppercase;
  font-size: 1.1rem;
}
